<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <i class="fa fa-book me-2"></i>Journal</a>
    </div>
</nav>


<!--<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Create
                <a class="btn btn-danger btn-sm " routerLink="note">
                    <i class="fa fa-plus-circle me-2"></i>New
                </a>
            </p>
        </div>
    </div>
</div>-->

